{% for file in assets.js %}
    <script type="text/javascript" src="{{file}}"></script>
{% endfor %}

{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}

<script type="text/javascript" src="/modules/aggregated.js"></script>
<script  src="/public/system/lib/ng-table/ng-table.min.js"></script>    
<script type="text/javascript" src="/public/system/lib//moment/moment.js"></script>
<script type="text/javascript" src="/public/system/lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>